<!--     *********    CONTACT US 2     *********      -->
<div class="contactus-2">
    <div id="contactUs2Map" class="map"></div>
    <div class="col-md-6">
        <div class="card card-contact card-raised">
            <form id="contact-form2" action="https://getsimpleform.com/messages?form_api_token=a8977f5e3a01e87e15a788e0e27cc375" method="post">
              <input type="hidden" name="redirect_to" value="http://mgrdoc.com" />

                <div class="card-header card-header-rose text-center">
                    <h4 class="card-title">Contact Us</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info info-horizontal">
                                <div class="icon icon-rose">
                                    <i class="material-icons">phone</i>
                                </div>
                                <div class="description">
                                    <h5 class="info-title">Give us a ring</h5>
                                    <p>{{ site.data.info.mgr.phone }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info info-horizontal">
                                <div class="icon icon-rose">
                                    <i class="material-icons">pin_drop</i>
                                </div>
                                <div class="description">
                                    <h5 class="info-title">찾아오시는 길</h5>
                                    <p>{{ site.data.info.mgr.address }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        <div class="info info-horizontal">
                          <div class="icon icon-rose">
                            <i class="material-icons">schedule</i>
                          </div>
                          <div class="description">
                            <h5 class="info-title">진료 시간</h5>
                            <p> {{ site.data.info.mgr.opening }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating is-empty has-rose">
                                <label class="bmd-label-floating">Full Name</label>
                                <input type="text" name="email" class="form-control">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating is-empty has-rose">
                                <label class="bmd-label-floating">Email address</label>
                                <input type="email" name="email" class="form-control">
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group label-floating has-rose is-empty">
                        <label for="exampleMessage" class="bmd-label-floating">Your Message</label>
                        <textarea name="message" class="form-control" id="exampleMessage" rows="3"></textarea>
                        <span class="material-input"></span>
                    </div>
                </div>
                <div class="card-footer justify-content-between">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value=""> I'm not a robot
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-rose pull-right" value="send">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--     *********    END CONTACT US 2      *********      -->
