<footer class="footer footer-white">
  <div class="container">
    <a class="footer-brand" href="#">MGRDOC.COM</a>

    <ul class="pull-center">
      <li>
        <a href="#" target="_self">
          About Us
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/contact-us" target="_self">
           Location
        </a>
      </li>
      <!-- <li>
        <a href="/blog.html/" target="_self">
           Blog
        </a>
      </li> -->
    </ul>

    <ul class="social-buttons float-right">
      <!-- <li>
        <a href="https://twitter.com/CreativeTim" target="_blank" class="btn btn-just-icon btn-simple btn-twitter">
          <i class="fa fa-twitter"></i>
        </a>
      </li> -->
      <li>
        <a href="https://www.facebook.com/mgrdoc" target="_blank" class="btn btn-just-icon btn-simple btn-facebook">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <!-- <li>
        <a href="https://www.instagram.com/mgrdoc" target="_blank" class="btn btn-just-icon btn-simple btn-instagram">
          <i class="fa fa-instagram"></i>
        </a>
      </li> -->
    </ul>

  </div>
</footer>
