<nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#">{{ site.title }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <!-- <li>
                    <a href="tel:+827077597779">
                        <i class="material-icons">phone_iphone</i>070-7759-7779
                    </a>
                </li> -->
                <li class="dropdown nav-item">
                    <a href="#" class="nav-link">
                        <i class="material-icons">access_time</i> 9:30am - 7:00pm | 점심시간에도 진료합니다
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <a href="{{ site.baseurl }}/contact-us" class="nav-link">
                        <i class="material-icons">directions</i> 찾아오시는 길
                    </a>
                </li>
                <!-- <li class="dropdown nav-item">
                    <a href="{{ site.baseurl }}/blog">
                        <i class="material-icons">list</i> 블로그
                    </a>
                </li> -->
                <li class="button-container nav-item">
                    <a href="tel:+827077597779" target="_blank" class="btn  btn-rose   btn-round btn-block">
                        <i class="material-icons">phone_iphone</i> Call Now
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
