<!--        notifications -->
<div class="section cd-section section-notifications" id="notifications">
    <div class="container">
        <!-- <div class="space-70"></div>
        <div class="title">
            <h3>공지 사항</h3>
        </div> -->
    </div>
    <div class="alert alert-info">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">info_outline</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b>10/3 개천절, 10/9 한글날</b>은 휴진이오니 양지해주시기 바랍니다.
        </div>
    </div>
  <div class="alert alert-success">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">check</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <strong>2/1(금) ~ 2/6(수)</strong>는 설연휴 관계로 휴진입니다!
        </div>
    </div>
      <!-- <div class="alert alert-warning">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">warning</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b>Warning Alert:</b> Hey, it looks like you still have the &quot;copyright &#xA9; 2015&quot; in your footer. Please update it!
        </div>
    </div>
    <div class="alert alert-danger">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">error_outline</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b>Error Alert:</b> Damn man! You screwed up the server this time. You should find a good excuse for your Boss...
        </div>
    </div> -->
    <div class="clearfix"></div>
</div>
<!--        end notifications -->
