<!--        notifications -->
<div class="section cd-section section-notifications" id="notifications">
    <div class="container">
        <!-- <div class="space-70"></div>
        <div class="title">
            <h3>공지 사항</h3>
        </div> -->
    </div>
    <div class="alert alert-info">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">info_outline</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            6/13 지방선거일은 <b>정상진료</b>합니다!(9:30 - 7:00)
        </div>
    </div>
    <!-- <div class="alert alert-success">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">check</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b>Success Alert:</b> Yuhuuu! You&apos;ve got your $11.99 album from The Weeknd
        </div>
    </div>
    <div class="alert alert-warning">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">warning</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b>Warning Alert:</b> Hey, it looks like you still have the &quot;copyright &#xA9; 2015&quot; in your footer. Please update it!
        </div>
    </div>
    <div class="alert alert-danger">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">error_outline</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b>Error Alert:</b> Damn man! You screwed up the server this time. You should find a good excuse for your Boss...
        </div>
    </div> -->
    <div class="clearfix"></div>
</div>
<!--        end notifications -->
