<!--     *********     FEATURES 5      *********      -->
<div class="features-5" style="background-image: url(&apos;assets/img/mgrbg2.jpg&apos;)">
    <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Your Diet will be much easier</h2>
        <h5 class="title" style="font-weight: 700;">체질개선 다이어트의 효과</h5>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="info">
                    <div class="icon">
                        <i class="material-icons">pool</i>
                    </div>
                    <h4 class="info-title">유산소기능 강화</h4>
                    <p>인체대사를 활성화하고 유산소기능을 강화하여 운동 효과를 증폭시킵니다.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="info">
                    <div class="icon">
                        <i class="material-icons">room_service</i>
                    </div>
                    <h4 class="info-title">식욕 억제</h4>
                    <p>식욕을 억제하고 적은 식사량으로도 컨디션을 유지할 수 있도록 합니다.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="info">
                    <div class="icon">
                        <i class="material-icons">blur_on</i>
                    </div>
                    <h4 class="info-title">체지방분해 촉진</h4>
                    <p>체지방과 인체내 독소를 제거하며, 비만 전기침은 국소부위의 체지방분해를 촉진하는 효과가 있습니다.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="info">
                    <div class="icon">
                        <i class="material-icons">nature_people</i>
                    </div>
                    <h4 class="info-title">체질개선</h4>
                    <p>일시적인 효과가 아닌 체질개선을 통해 요요현상을 방지합니다.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--     *********    END FEATURES 5      *********      -->
