<div class="section section-pricing pricing-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Kyunghee Mugyoro Medical Clinic</h2>
                <ul class="nav nav-pills nav-pills-rose">
                    <li class="nav-item">
                        <a class="nav-link active" href="#korean" data-toggle="tab">Korean</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#english" data-toggle="tab">English</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 ml-auto mr-auto">
                <div class="tab-content tab-space">
                    <div class="tab-pane fade active show" id="korean">
                        <p class="description">
                          {{ site.data.info.mgr.credit }}
                        </p>

                    </div>
                    <div class="tab-pane fade" id="english">
                        <p class="description">
                          {{ site.data.info.mgr.credit-en }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-line text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title">Thank you for sharing!</h4>
                    <a href="https://twitter.com/share?text=추천합니다!&url=http://mgrdoc.com" id="twitter" class="btn btn-twitter btn-round">
                        <i class="fa fa-twitter"></i> Twitter
                    </a>
                    <a href="#" id="facebook" class="btn btn-facebook btn-round">
                        <i class="fa fa-facebook-square"></i> Facebook
                    </a>
                    <a href="https://plus.google.com/share?url=http://mgrdoc.com" id="google" class="btn btn-google btn-round">
                        <i class="fa fa-google-plus"></i> Google
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
