<!--     *********    TESTIMONIALS 2     *********      -->
<div class="testimonials-2 section-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="carouselExampleIndicatorss" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card card-testimonial card-plain">
                                <div class="card-avatar">
                                    <a href="#pablo">
                                        <img class="img" src="assets/img/seong.jpg">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-description">{{ site.data.info.director.history }}
                                        <br>{{ site.data.info.director.works }}
                                    </h5>
                                    <h4 class="card-title">전문의/한의학 박사 성기원</h4>
                                    <h6 class="card-category text-muted">Dr. Seong Kiwon</h6>
                                    <div class="footer">
                                        <i class="material-icons text-warning">star</i>
                                        <i class="material-icons text-warning">star</i>
                                        <i class="material-icons text-warning">star</i>
                                        <i class="material-icons text-warning">star</i>
                                        <i class="material-icons text-warning">star</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--     *********    END TESTIMONIALS 2      *********      -->
