<!--   Core JS Files   -->
<script src="{{ site.baseurl }}/assets/js/core/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/core/popper.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap-material-design.js"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="{{ site.baseurl }}/assets/js/plugins/moment.min.js"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="{{ site.baseurl }}/assets/js/plugins/bootstrap-selectpicker.js"></script>
<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
<script src="{{ site.baseurl }}/assets/js/plugins/bootstrap-tagsinput.js"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{{ site.baseurl }}/assets/js/plugins/jasny-bootstrap.min.js"></script>
<!--	Plugin for Small Gallery in Product Page -->
<script src="{{ site.baseurl }}/assets/js/plugins/jquery.flexisel.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="{{ site.baseurl }}/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{{ site.baseurl }}/assets/js/plugins/nouislider.min.js"></script>
<!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
<script src="{{ site.baseurl }}/assets/js/material-kit.js?v=2.0.0"></script>
<!-- Fixed Sidebar Nav - js With initialisations For Demo Purpose, Don't Include it in your project -->
<script src="{{ site.baseurl }}/assets/js/material-kit-demo.js"></script>
<!-- Plugins for presentation and navigation  -->
<script src="{{ site.baseurl }}/assets/js/modernizr.js"></script>
<script src="{{ site.baseurl }}/assets/js/vertical-nav.js"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGUlAQP76c3IO9-S2cRtblcjrzD4XIU24"></script>
<script type="text/javascript">
    $(document).ready(function() {
        materialKitDemo.presentationAnimations();
    });
</script>
