<div class="section-testimonials team-3">

    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Trusted by 3.000+ People</h2>
          <h5 class="description">The UI Kits, Templates and Dashboards that we've created are used by <b>91,500+ web developers</b> in over <b>142.000 Web Projects</b>. This is what some of them think:</h5>
        </div>
      </div>

      <!-- <div class="our-clients">
        <div class="row">
          <div class="col-md-3">
            <img src="assets/assets-for-demo/vodafone.jpg" alt="" />
          </div>
          <div class="col-md-3">
            <img src="assets/assets-for-demo/microsoft.jpg" alt="" />
          </div>
          <div class="col-md-3">
            <img src="assets/assets-for-demo/harvard.jpg" alt="" />
          </div>
          <div class="col-md-3">
            <img src="assets/assets-for-demo/stanford.jpg" alt="" />
          </div>

        </div>
      </div> -->

    </div>
  </div>
