<div class="section-testimonials team-3">

    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Trusted by 8,000+ People</h2>
          <h5 class="description">항상 연구하고 최선을 다하는 좋은 병원이 되도록 노력하겠습니다.</h5>
        </div>
      </div>

      <!-- <div class="our-clients">
        <div class="row">
          <div class="col-md-3">
            <img src="assets/assets-for-demo/vodafone.jpg" alt="" />
          </div>
          <div class="col-md-3">
            <img src="assets/assets-for-demo/microsoft.jpg" alt="" />
          </div>
          <div class="col-md-3">
            <img src="assets/assets-for-demo/harvard.jpg" alt="" />
          </div>
          <div class="col-md-3">
            <img src="assets/assets-for-demo/stanford.jpg" alt="" />
          </div>

        </div>
      </div> -->

    </div>
  </div>
