<!doctype html>
<html lang="en">
<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }} – {{ site.description }}</title>

  {% include meta.html %}

</head>

<body class="contact-us">
  <nav class="navbar    fixed-top  navbar-expand-lg bg-dark" color-on-scroll="100" id="sectionsNav">
          <div class="container">
              <div class="navbar-translate">
                  <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                      <span class="navbar-toggler-icon"></span>
                      <span class="navbar-toggler-icon"></span>
                  </button>
              </div>
              <div class="collapse navbar-collapse">
                  <ul class="navbar-nav ml-auto">
                    <li class="dropdown nav-item">
                        <a href="#" class="nav-link">
                            <i class="material-icons">access_time</i> 9:30am - 7:00pm | 점심시간에도 진료합니다
                        </a>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="{{ site.baseurl }}/contact-us" class="nav-link">
                            <i class="material-icons">directions</i> 찾아오시는 길
                        </a>
                    </li>
                    <!-- <li class="dropdown nav-item">
                        <a href="{{ site.baseurl }}/blog">
                            <i class="material-icons">list</i> 블로그
                        </a>
                    </li> -->
                    <li class="button-container nav-item">
                        <a href="tel:+827077597779" target="_blank" class="btn  btn-rose   btn-round btn-block">
                            <i class="material-icons">phone_iphone</i> Call Now
                        </a>
                    </li>
                  </ul>
              </div>
          </div>
      </nav>

  {{ content }}

  <footer class="footer ">
      <div class="container">
          <nav class="pull-left">
              <ul>
                  <li>
                      <a href="{{ site.url }}">
                          MGRDOC.COM
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.url }}">
                          About Us
                      </a>
                  </li>
                  <!-- <li>
                      <a href="#">
                          Blog
                      </a>
                  </li>
                  <li>
                      <a href="https://www.creative-tim.com/license">
                          Licenses
                      </a>
                  </li> -->
              </ul>
          </nav>
          <div class="copyright pull-right">
              &copy;
              <script>
                  document.write(new Date().getFullYear())
              </script>, made with <i class="material-icons">favorite</i> by
              <a href="http://www.mgrdoc.com" target="_blank">mgrdoc.com</a>
          </div>
      </div>
  </footer>
</body>
  {% include scripts.html %}
  <script>
      $().ready(function() {
          // the body of this function is in assets/material-kit.js
          materialKitDemo.initContactUsMap();
      });
  </script>
</html>
