<!doctype html>
<html lang="en">
<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }} – {{ site.description }}</title>

  {% include meta.html %}

</head>

<body class="blog-posts">
  <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.url }}/">{{ site.title }}</a>
        </div>
  {% include nav.html %}
  </nav>
	<!-- {% include header.html %} -->

  {{ content }}

  {% include footer.html %}

</body>
  {% include scripts.html %}
</html>
